body{
	background-color: #66A5AD;
}
input{
    font-size: 40px;
    padding: 20px;
    height: auto;
    text-transform: uppercase;
    width: 180px;
    text-align: center;
    line-height: normal;
}
#1_1


